.frontPage {
    margin: 5px;
}

.frontPage > p {
    margin-left: 10px;
}

.frontPage ul {
    display: inline-block;
}

.mobileListBreak {
    display: none;
}

.linkList {
    height: 500px;
    width: 500px;
}

.linkList li {
    list-style: none;
    margin-bottom: 35px;
    display: block;
}

.linkList > li a {
    background-color: var(--lightest);
    color: var(--blackish);
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

.linkList > li a:hover {
    background-color: var(--light);
    color: var(--whiteish);
}

@media (max-width: 1000px) {
    .frontPage {
        width: 1vw;
    }
    .linkList {
        width: fit-content;
    }
}