.vuoro {
    border: 1px solid black;
    background-color: aliceblue;
    margin-right: 5px;
    font-size: small;
    white-space: nowrap;
}

.vuoro:hover {
    cursor: pointer;
}

.chosen_vuoro {
    background-color: green;
    color: white;
    border: 1px solid black;
}