.vuoro {
    border: 1px solid var(--blackish);
    background-color: var(--light);
    color: var(--whiteish);
    margin-right: 2px;
    padding: 2px;
    white-space: wrap;
    font-size: 15px;
    display: block;
    margin-top: 3px;
}

.vuoro:hover {
    cursor: pointer;
    background-color: var(--darkest);
    color: var(--whiteish);
}

.chosen_vuoro {
    background-color: var(--chosenShiftBg);
    color: var(--chosenShiftCol);
    border: 1px solid black;
    padding: .05vw;
}

.chosen_vuoro:hover {
    background-color: var(--chosenShiftBg_hover);
}

.hasNote {
    background-color: var(--whiteish);
    color: var(--light);
    font-weight: bold;
}

.menu_vuoro {
    background-color: var(--menuShiftBg);
    color: var(--menuShiftCol);
}

.menu_vuoro:hover {
    cursor: pointer;
    background-color: var(--menuShiftBg_hover);
}