.vuoro {
    border: 1px solid var(--blackish);
    background-color: var(--light);
    color: var(--whiteish);
    margin-right: 5px;
    font-size: small;
    white-space: nowrap;
}

.vuoro:hover {
    cursor: pointer;
    background-color: var(--dark);
    color: var(--whiteish);
}

.chosen_vuoro {
    background-color: var(--chosenShiftBg);
    color: var(--chosenShiftCol);
    border: 1px solid black;
}

.chosen_vuoro:hover {
    background-color: var(--chosenShiftBg_hover);
}

.menu_vuoro {
    background-color: var(--menuShiftBg);
    color: var(--menuShiftCol);
}

.menu_vuoro:hover {
    cursor: pointer;
    background-color: var(--menuShiftBg_hover);
}