.vuoro {
    border: 1px solid var(--blackish);
    background-color: var(--light);
    color: var(--whiteish);
    margin-right: 5px;
    font-size: small;
    white-space: nowrap;
}

.vuoro:hover {
    cursor: pointer;
}

.chosen_vuoro {
    background-color: var(--chosenShiftBg);
    color: var(--chosenShiftCol);
    border: 1px solid black;
    box-shadow: 1px 1px 3px var(--blackish);
}