.schedule {
    margin: 10px;
    width: 99%;
    margin-bottom: 100px;
    table-layout: fixed;
    overflow-wrap: break-word;
    text-align: center;
    background-color: var(--lightest);

    user-select: none;
    border-collapse: collapse;

}

tr, td {
    min-height: 100px;
}

thead {
    position: sticky;
    top: 0px;
}

.scheduleHeader {
    color: var(--whiteish);
    background-color: var(--light);
}

.emptyCell {
    width: 10px;
    background-color: var(--light);
}

.scheduleDateSwitcherRow {
    background-color: var(--light);
    color: var(--whiteish);
    display: table-cell;
    grid-template-columns: 10% 80% 10%;
}

    .scheduleDateSwitcher {
        background-color: var(--light);
        width: 250px;
        color: var(--whiteish);
        border: 1px solid black;
        display: grid;
        grid-template-columns: 10% 80% 10%;
    }
        .scheduleDateSwitcher > * {
            align-self: center;
            text-wrap: nowrap;
        }
        .scheduleDateSwitcher b:first-child {
            text-align: left;
            color: var(--whiteish);
        }

        .scheduleDateSwitcher span {
            text-align: center;
            overflow-wrap: nowrap;
        }

        .scheduleDateSwitcher b:last-child {
            text-align: right;
        }

        .scheduleDateSwitcher > b > * {
            text-decoration: none;
            color: var(--whiteish);
        }
            .scheduleDateSwitcher > b > *:hover {
                text-decoration: none;
                color: var(--dark);
            }

.focusHighlight {
    background-color: var(--highlight); 
}

.scheduleCell {
    border: 1px solid var(--blackish);
}
    .scheduleCell:hover {
        background-color: var(--highlight); 
    }

.shiftContainer {
    min-height: 15px;
    padding: 10px;
}

.helperLines {
    background-color: var(--dark);
    color: white;
}

.popup {
    padding: 5px;
}
    .popup_info {
        color: green;
        background-color: #acffac;
    }

    .popup_error {
        color: red;
        background-color: rgb(255, 197, 197);
    }