.scheduleContainer {
    margin-bottom: 30px;
}

.schedule {
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
    text-align: center;
    background-color: var(--scheduleBg);

    user-select: none;
    border-collapse: collapse;

    font-size: 12px;
}

tr, td {
    min-height: 150px;
    height: fit-content;
}

tr:nth-child(odd) {
    background-color: var(--scheduleEvenBg);
}

tbody tr:last-child td {
    border-bottom: none;
}

.scheduleHeader {
    color: var(--whiteish);
    background-color: var(--light);
}

tbody .scheduleHeader {
    border-top: 1px solid var(--blackish);
}

thead .scheduleHeader {
    border-top: 1px solid var(--blackish);
    border-left: 1px solid var(--blackish);
}

.emptyCell {
    height: 70px;
    background-color: var(--light);
}

.scheduleDateSwitcherRow {
    background-color: var(--light);
    color: var(--whiteish);
    display: table-cell;
    grid-template-columns: 10% 80% 10%;
}

    .scheduleDateSwitcher {
        background-color: var(--light);
        width: 250px;
        color: var(--whiteish);
        border: 1px solid black;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        position: sticky;
        top: 0;
    }
        .scheduleDateSwitcher > * {
            align-self: center;
            text-wrap: nowrap;
        }
        .scheduleDateSwitcher b:first-child {
            text-align: left;
            color: var(--whiteish);
        }

        .scheduleDateSwitcher span {
            text-align: center;
            overflow-wrap: nowrap;
        }

        .scheduleDateSwitcher b:last-child {
            text-align: right;
        }

        .scheduleDateSwitcher > b > * {
            text-decoration: none;
            color: var(--whiteish);
        }
            .scheduleDateSwitcher > b > *:hover {
                text-decoration: none;
                color: var(--darkest);
            }

.focusHighlight {
    background-color: var(--highlight); 
}

.scheduleCell {
    border: 1px solid var(--scheduleGrid);
    min-height: 50px;
    min-width: 50px;
}
    .scheduleCell:hover {
        background-color: var(--highlight); 
    }

.shiftContainer {
    min-height: 50px;
    height: fit-content;
    padding: 5px;
}

.helperLines {
    background-color: var(--darkest);
    color: white;
}

@media (max-width: 1000px) {
    .scheduleContainer {
        width: 100vw;
        height: fit-content;
        overflow-x: scroll;
    }

    .schedule {
        width: 1500px;
    }

    .hourHeader {
        position: sticky;
        left: 0;
    }

    .emptyCell {
        width: 50px;
    }

    .scheduleDateSwitcher {
        position: sticky;
        left: 0;
    }
}


.scheduleInfo {
    padding: 10px;
}
.scheduleInfo > * {
    text-decoration: underline;
    color: var(--whiteish);
}

.dateCell {
    padding: 20px;
    background-color: var(--lightest);
    color: var(--whiteish);
    font-size: large;
}

.dateCell > * { /*Link*/
    color: var(--whiteish);
}