.schedule {
    margin: 10px;
    width: 99%;
    margin-bottom: 100px;
    table-layout: fixed;
    overflow-wrap: break-word;
    text-align: center;
    background-color: var(--lightest);

    user-select: none;
    border-collapse: collapse;
}

tr, td {
    min-height: 100px;
}

.scheduleHeader {
    color: var(--whiteish);
    background-color: var(--light);
    outline: .01vw solid var(--blackish);
}

.emptyCell {
    width: 100px;
    background-color: var(--light);
}

.scheduleTopPart {
    outline: 1px solid var(--blackish);
    border-radius: 10px 10px 0px 0px;

    text-align: left;
}

.focusHighlight {
    background-color: var(--highlight); 
}

.scheduleCell {
    border: 1px solid var(--blackish);
}

.scheduleCell:hover {
    background-color: var(--highlight); 
}

.shiftContainer {
    min-height: 15px;
    padding: 10px;
}

.helperLines {
    background-color: var(--dark);
    color: white;
}