.schedule {
    margin: 10px;
    width: 99%;
    table-layout: fixed;
    overflow-wrap: break-word;
    text-align: center;
    background-color: #faebd7;

    user-select: none;
    border-collapse: collapse;
}

tr, td {
    min-height: 100px;
}

.scheduleHeader {
    background-color: aliceblue;
    outline: .01vw solid black;
}

.scheduleTopPart {
    outline: 1px solid black;
    border-radius: 10px 10px 0px 0px;

    text-align: left;
}

.scheduleCell {
    border: 1px solid black;
}

.shiftContainer {
    min-height: 15px;
    padding: 10px;
}

.helperLines {
    background-color: black;
    color: white;
}