.menu {
    border: 1px solid black;
    height: 80px;
    display: grid;

    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 90%;
}

.menuNoteArea {
    height: 70px;
    resize: none;
}