.sidebar {
    background-color: var(--lightest);
    color: var(--blackish);
    padding: .5vw;
}

.sidebarFilter > input {
    width: 4vw;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--blackish);
}

.sidebarFilter > input:focus {
    outline: none;
}

.peopleList {
    padding: 0;
    max-height: 60vh;
    overflow-y: scroll;
    scrollbar-color: var(--light) var(--lightest);
}

.chosen_sidebar {
    background-color: var(--chosenShiftBg);
    color: var(--chosenShiftCol);
}

@media (max-width: 1000px) {
    .mobileSidebar {
        padding: 0;
        overflow: hidden;

        width: 96vw;
        margin-top: 1vh;

        margin-left: 2vw;
        margin-right: 2vw;
    }

    .mobileFilter {
       white-space: initial;
       overflow: scroll;
       width: 94vw;
       height: 3vh;
       border: 1px solid black;
    }
    .mobileFilter > * {
        padding: 10px;
        display: inline;
    }
    
    .filterLetter {
        border: 1px solid black;
    }

    .chosenFilterLetter {
        background-color: grey;
    }

    .peopleScroll {
        overflow-x: scroll;
        width: 94vw;
        height: 5vh;
        border: 1px solid;
    }

    .peopleScroll > * {
        display: inline;
        padding: 10px;
        border: 1px solid black;
        height: 100%;
    }

    li {
        display: inline;
        white-space: nowrap;
    }


}