.sidebar {
    background-color: var(--lightest);
    color: var(--blackish);
    padding: .5vw;
}

.sidebarFilter > input {
    width: 4vw;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--blackish);
}

.sidebarFilter > input:focus {
    outline: none;
}

.peopleList {
    padding: 0;
    max-height: 60vh;
    overflow-y: scroll;
    scrollbar-color: var(--light) var(--lightest);
}

.peopleListItem {
    list-style: none;
    border: .01vh solid var(--blackish);
    margin-top: .5vh;
}

.peopleListItem:hover {
    cursor: pointer;
}

.peopleListItem:hover:not(.chosen_sidebar) {
    background-color: var(--dark);
    color: var(--whiteish);
}

.chosen_sidebar {
    background-color: var(--chosenShiftBg);
    color: var(--chosenShiftCol);
}

@media (max-width: 800px) {
    .testi {
        width: 100vw;
        overflow: hidden;
        height: 100vh;
    }

    .scroll {
        overflow-x: scroll;
        height: fit-content;
    }

    li {
        display: inline;
        white-space: nowrap;
    }
}