.loginContainer {
    display: inline-block;
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    top: 25%;
    
    background-color: aliceblue;
}

.loginContainer fieldset > input {
    float: right;
}

.popupContainer {
    position: absolute;
    display: inline-block;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}