.dayView {
    display: grid;
    grid-template-columns: 10vw 80vw;
    grid-template-rows: 10vh 80vh;
    gap: 10px;
}

.day_sidebarWrapper {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.day_scheduleWrapper {
    grid-column: 2;
    grid-row: 1;
}