.dayView {
    display: grid;
    grid-template-columns: 10vw 90vw;
}

.day_sidebarWrapper {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.day_scheduleWrapper {
    grid-column: 2;
    grid-row: 1;
    margin: 10px;
}

.day_scheduleWrapper {
    grid-column: 2;
    grid-row: 2;
}