.dayView {
    display: grid;
    grid-template-columns: 10vw 88vw;
    grid-template-rows: 10vh 80vh;
    gap: 10px;
}

.day_sidebarWrapper {
    grid-column: 1;
}

.day_scheduleWrapper {
    grid-column: 2;
    grid-row: 1;
}

@media (max-width: 800px) {
    .dayView {
        display: flex;
        flex-direction: column;
    }

    .day_sidebarWrapper {
        flex: 1;
    }

    .day_scheduleWrapper {
        flex: 2;
    }
}