.popupContainer {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto; 
    width: fit-content;
    z-index: 2;

    padding: 10px 30px 10px 30px;
}

.popupInfo {
    color: var(--goodCol);
    background-color: var(--goodBg);
}

.popupError {
    color: var(--badCol);
    background-color: var(--badBg);
}