:root {
    --blackish: #00222e;
    --dark: #781508;
    --light: #a62e1e;
    --lightest: #e24e3a;
    --whiteish: rgb(255, 252, 245);

    --highlight: #a62e1e;
    --scheduleBg: #f7dfc1;
    --scheduleGrid: #d5b58e;

    --chosenShiftCol: #ffebd5;
    --chosenShiftBg: #c96800;
    --chosenShiftBg_hover: #954d00;

    --menuShiftCol: #ddffdc;
    --menuShiftBg: #078c00;
    --menuShiftBg_hover: #056800;

    --goodButtonCol: var(--whiteish);
    --goodButtonBg: var(--menuShiftBg);
    --goodButtonBg_hover: var(--menuShiftBg_hover);

    --goodCol: #deffdc;
    --goodBg: #078c00;
    --goodHover: #056800;

    --badCol: #ffe0e0;
    --badBg: #c32929;
    --badHover: #7d1414;
    
    color: var(--blackish);

    user-select: none;
    font-family: monospace;
    font-size: 15px;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--whiteish);
}

button:hover {
    cursor: pointer;
}

.main {
    display: grid;
    background-color: var(--whiteish);
}