:root {
    --blackish: #00222e;
    --dark: #044370;
    --light: #1096c3;
    --lightest: #caf2ff;
    --whiteish: #F0EFF4;

    --highlight: #9ccddc;

    --chosenShiftCol: #ffe1c1;
    --chosenShiftBg: #c96800;

    color: var(--blackish);

    user-select: none;
    overflow: hidden;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--col1);
}

.main {
    display: grid;
    background-color: var(--col1);

}