:root {
    --blackish: #040506;
    --darkest: #2e1d16;
    --dark: #553528;
    --light: #75452f;
    --lightest: #a1735e;
    --whiteish: #e4d5c2;

    --highlight: #a48b65;
    --scheduleBg: #bda98b;
    --scheduleEvenBg: #b29f80;
    --scheduleGrid: #493927;

    --chosenShiftCol: var(--blackish);
    --chosenShiftBg: #ebc659;
    --chosenShiftBg_hover: #d2b14c;

    --menuShiftCol: var(--whiteish);
    --menuShiftBg: #1a547b;
    --menuShiftBg_hover: #063454;

    --goodButtonCol: var(--whiteish);
    --goodButtonBg: var(--menuShiftBg);
    --goodButtonBg_hover: var(--menuShiftBg_hover);

    --goodCol: var(--whiteish);
    --goodBg: #078c00;
    --goodHover: #056800;

    --badCol: var(--whiteish);
    --badBg: #c32929;
    --badHover: #7d1414;
    
    color: var(--blackish);

    user-select: none;
    font-family: monospace;
    font-size: 15px;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--whiteish);
}

button:hover {
    cursor: pointer;
}