:root {
    --blackish: #00222e;
    --dark: #044370;
    --light: #1096c3;
    --lightest: #caf2ff;
    --whiteish: #F0EFF4;

    --highlight: #9ccddc;
    --scheduleGrid: #8fc5d6;

    --chosenShiftCol: #ffebd5;
    --chosenShiftBg: #c96800;
    --chosenShiftBg_hover: #954d00;

    --menuShiftCol: #ddffdc;
    --menuShiftBg: #078c00;
    --menuShiftBg_hover: #056800;

    --goodButtonCol: var(--whiteish);
    --goodButtonBg: var(--menuShiftBg);
    --goodButtonBg_hover: var(--menuShiftBg_hover);

    --goodCol: #deffdc;
    --goodBg: #078c00;
    --goodHover: #056800;

    --badCol: #ffe0e0;
    --badBg: #c32929;
    --badHover: #7d1414;
    
    color: var(--blackish);

    user-select: none;
    font-family: monospace;
    font-size: large;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--whiteish);
}

button:hover {
    cursor: pointer;
}

.main {
    display: grid;
    background-color: var(--whiteish);
}