:root {
    --col1: #e8e8e8;
    --col2: #cecece;
    --col3: #adadad;

    user-select: none;
    overflow: hidden;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--col1);
}

.main {
    display: grid;
    background-color: var(--col1);

}