.ghost {
    pointer-events: none;
}

.peopleListItem {
    list-style: none;
    border: .1vh solid var(--blackish);
    margin-top: .5vh;
    margin-right: 5px;
    padding: 1px;
    background-color: var(--whiteish);
    color: var(--blackish);
}

.peopleListItem:hover {
    cursor: pointer;
}

.chosen_sidebar {
    background-color: var(--chosenShiftBg);
    color: var(--chosenShiftCol);
}

.peopleListItem:hover:not(.chosen_sidebar) {
    background-color: var(--darkest);
    color: var(--whiteish);
}