.weekView {
    display: grid;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 10vh 90vh;
    gap: 10px;
}

.week_sidebarWrapper {
    grid-row: 1;
    grid-column: 1;
}

.week_menuWrapper {
    grid-row: 1;
    grid-column: 2;

}

.week_scheduleWrapper {
    grid-column: 2;
    grid-row: 2;


    overflow-y: scroll;
}