.weekView {
    display: grid;
    grid-template-columns: 10vw 88vw;
    grid-template-rows: 10vh 80vh;
    gap: 10px;
}

.week_sidebarWrapper {
    grid-row: 1;
    grid-column: 1;
}

.week_scheduleWrapper {
    grid-column: 2;
    grid-row: 1 / span 2;

    overflow-y: scroll;
}