.weekView {
    display: grid;
    grid-template-columns: 10vw 88vw;
    grid-template-rows: 10vh 80vh;
    gap: 10px;
}

.week_sidebarWrapper {
    grid-row: 1;
    grid-column: 1;
}

.week_scheduleWrapper {
    grid-column: 2;
    grid-row: 1 / span 2;

    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--light) var(--lightest);
}

.week_scheduleWrapper .dateSwitcher {
    position: sticky;
    padding: 10px;
    background-color: var(--lightest);
    z-index: 1;

    top: 0px;
}

@media (max-width: 1000px) {
    .weekView {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 10vh 80vh;
        gap: 10px;
    }

    .week_sidebarWrapper {
        grid-column: 1;
    }

    .week_scheduleWrapper {
        grid-column: 1;
        grid-row: 2;
    }
    .week_scheduleWrapper >:first-child{
        margin-top: 20px;
    }
}