.weekView {
    display: grid;
    grid-template-columns: 10vw 90vw;
}

.week_sidebarPlaceholder {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.week_menuPlaceholder {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 100px;
    margin-top: 10px;
}

.week_scheduleWrapper {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 88vh;
    overflow-y: scroll;
    border: 1px solid black;
}

.week_sidebarWrapper {
    width: 10%;
    position: fixed;
    margin-top: 50px;
}

.week_menuWrapper {
    width: 90%;
    position: fixed;
    margin-top: 60px;
    margin-left: 20vh;
}
